.destination-container {
  background-image: url("../../assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
}

/* Section titre */
.destination-title {
  display: flex;
  margin-left: 16%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Layout principal */
.destination-main {
  display: flex;
  justify-content: space-evenly;
}

.destination-selection > ul {
  display: flex;
}

/* Section planète */
.planet-image {
  width: 500px;
  height: 500px;
  margin-right: 80px;
}

/* Navigation des planètes */
.planet-nav {
  display: flex;
  list-style: none;
  gap: 35px;
  padding: 0;
  margin-bottom: 40px;
}

.planet-link {
  color: var(--color-primary);
  text-decoration: none;
  padding-bottom: 12px;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s;

  font-size: 1.5rem;
}

.planet-link:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.planet-link.active {
  color: var(--color-white);
  border-bottom: 3px solid var(--color-white);
}

/* Information planète */
.planet-info {
  max-width: 550px;

  font-size: 5rem;
}

.planet-info h2 {
  margin: 0;
  margin-bottom: 14px;
}

.planet-description {
  margin-bottom: 54px;

  font-size: 1.25rem;
}

/* Séparateur */
.info-divider {
  border: none;
  height: 1px;
  background-color: var(--color-divider);
  margin-bottom: 28px;
}

/* Statistiques */
.planet-stats {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.stat-block {
  text-transform: uppercase;
  text-align: right;
}

.stat-title {
  margin-bottom: 12px;
}

.stat-value {
  margin: 0;

  font-size: 2rem;

  font-weight: normal;
}
