/* Navbar main container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  margin-top: 1rem;
  z-index: 100;
}
/* Logo */
#logo {
  padding-left: 50px;

  transition: transform 0.6s ease;
}

#logo:hover {
  transform: scale(1.1);
}
/* Line between Logo & Navbar */
.nav-container::after {
  /* TODO: copyright */
  content: "";
  position: absolute;

  width: 30%;
  height: 1px;

  top: 50%;
  left: 8%;

  background-color: white;
  color: #936bff9f;

  font-size: 1rem;
  text-align: center;

  margin-top: 0px;

  /* text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3), 1px -1px 0 rgba(0, 0, 0, 0.3),
    -1px 1px 0 rgba(0, 0, 0, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.3); */
}

/* Navbar Page List */
.nav-ul {
  display: flex;
  justify-content: center;

  list-style: none;

  padding: 40px 270px;

  gap: 75px;

  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
}
/* Navbar Links */
.li-link {
  color: white;

  font-size: 1.5rem;
  letter-spacing: 2px;
  text-decoration: none;
}

.li-link.active {
  border-bottom: 3px solid white;
  padding-bottom: 38px;
}

.li-link:hover:not(.active) {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 38px;
}

/* Boutons du menu mobile */
.burger-nav-toggle {
  display: none;
  background: transparent;
  border: none;

  position: absolute;
  right: 30px;
  top: 30px;
  padding: 0;
  z-index: 200;

  cursor: pointer;
}

/* Media Queries */
@media (max-width: 1024px) {
  /* -- TABLETTE SIZE-- */
  .burger-nav-toggle {
    display: block;
    top: 20px;
    right: 30px;
  }

  #logo {
    padding-left: 30px;
    margin-top: 10px;
  }

  .nav-container::after {
    display: none;
  }

  .nav-ul {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;

    height: 100vh;

    gap: 30px;
    padding: 120px 0 0 30px;
    inset: 0 0 0 30%;

    transform: translateX(100%);
    transition: transform 0.35s ease-out;
  }

  .nav-ul.open {
    transform: translateX(0);
    transition: transform 0.35s ease-out;
  }

  .li-link.active,
  .li-link:hover:not(.active) {
    border-right: 3px solid;
    border-bottom: none;
    padding-bottom: 0;
    padding-right: 38px;
  }
}

@media (max-width: 768px) {
  /* -- MOBILE SIZE -- */
  .burger-nav-toggle {
    display: block;

    top: 15px;
    right: 20px;
  }

  #logo {
    padding-left: 20px;
    margin-top: 5px;
  }

  .nav-container::after {
    display: none;
  }

  .nav-ul {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;

    height: 100vh;

    gap: 30px;
    padding: 120px 0 0 30px;
    inset: 0 0 0 30%;

    transform: translateX(100%);
    transition: transform 0.35s ease-out;
  }

  .nav-ul.open {
    transform: translateX(0);
    transition: transform 0.35s ease-out;
  }

  .li-link.active,
  .li-link:hover:not(.active) {
    border-right: 3px solid;
    border-bottom: none;
    padding-bottom: 0;
    padding-right: 38px;
  }
}
