/* Navbar main container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  margin-top: 1rem;
}
/* Logo */
#logo {
  padding-left: 50px;
}
/* Line between Logo & Navbar */
.nav-container::after {
  content: "";
  position: absolute;

  width: 490px;
  height: 2px;

  top: 50%;
  left: 8%;

  background-color: white;
}
/* Navbar Page List */
.nav-ul {
  display: flex;
  justify-content: center;

  list-style: none;

  padding: 40px 270px;

  gap: 75px;

  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
}
/* Navbar Links */
.li-link {
  color: white;

  font-size: 1.5rem;
  letter-spacing: 2px;
  text-decoration: none;
}

.li-link.active {
  border-bottom: 3px solid white;
  padding-bottom: 38px;
}

.li-link:hover:not(.active) {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 38px;
}
