/* Navbar main container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  margin-top: 1rem;
}
/* Logo */
#logo {
  padding-left: 50px;
}
/* Line between Logo & Navbar */
.nav-container::after {
  content: "";
  position: absolute;

  width: 450px;
  height: 2px;

  top: 50%;
  left: 10%;

  background-color: white;
}
/* Navbar Page List */
.nav-ul {
  display: flex;
  justify-content: center;

  list-style: none;

  padding: 40px 270px;

  gap: 75px;

  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
}
/* Navbar Links */
.li-link {
  color: white;

  font-size: 1.5rem;
  letter-spacing: 2px;
  text-decoration: none;
}
/* Line under Link */
/* li:nth-of-type(1)::after {
  content: "";

  position: absolute;

  width: 89px;
  height: 3px;

  top: 97%;
  left: 21.5%;

  background-color: white;
} */
